body {
    width: 50%;
    margin: ;
    background-image: url(./trainbackground.jpg);
    background-size: contain;
    position: absolute;
    left: 0px;
    padding-left: 20px;
}
.jumbotron {
    color: white;
}

.train-table {
    background-color: transparent;
}

.add-form {
    background-color: transparent;
}